<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.copycat.android" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.AppActivity"
            android:label="@string/title_activity_app" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ClipboardMonitor"
            android:exported="true"
            android:enabled="true">
        </service>

        <receiver
            android:name=".receiver.StartupReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="io.hashtek.clippers.action.CHECK_DATA" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
